<mat-card class="quote-card">
    <mat-card-header class="bg-secondary">
        <mat-card-title>
            Office Worksheet
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="details-grid">
            <div class="details-label">
                <strong>Project:</strong>
            </div>
            <div class="details-value">
                {{quote?.projectNumber}}
            </div>

            <div class="details-label">
                <strong>Date:</strong>
            </div>
            <div class="details-value">
                {{quote?.quoteDate}}
            </div>

            <div class="details-label">
                <strong>Quote No.:</strong>
            </div>
            <div class="details-value">
                {{quote?.quoteId}}
            </div>

            <div class="details-label">
                <strong>Plan Date:</strong>
            </div>
            <div class="details-value">
                {{quote?.planDate}}
            </div>

            <div class="details-label">
                <strong>Address:</strong>
            </div>
            <div class="details-value">
                {{quote?.jobAddress}}
            </div>

            <div class="details-label">
                <strong>Salesman:</strong>
            </div>
            <div class="details-value">
                {{quote?.salesman}}
            </div>

            <div class="details-label">
                <strong>Engineer:</strong>
            </div>
            <div class="details-value">
                {{quote?.engineer}}
            </div>

            <div class="details-label">
                <strong>Architect:</strong>
            </div>
            <div class="details-value">
                {{quote?.architect}}
            </div>

            <div class="details-label">
                <strong>Spec:</strong>
            </div>
            <div class="details-value">
                {{quote?.spec}}
            </div>
        </div>

        <div class="bidders-section">
            <span class="label">Bidders</span>
            <span>{{quote?.bidder}}</span>
        </div>
        <div *ngIf="showActionDiv" class="actions-section">
            <button mat-raised-button color="primary">Preview Quote</button>
            <button mat-raised-button color="warn">Delete Worksheet</button>
        </div>
    </mat-card-content>
</mat-card>
<div>
    <button mat-raised-button color="primary" (click)="saveWorksheet()">Save Worksheet</button>
</div>
<form [formGroup]="worksheetFrm">
    <div formArrayName="worksheets">
        <div *ngFor="let wrksheet of worksheets.controls; let i = index" [formGroupName]="i" class="worksheet-container item-group">
            <mat-card>
                <mat-card-content>
                    <div>
                        <mat-form-field class="form-field-style col-3">
                            <mat-label for="manufacturerId">Manufacturer</mat-label>
                            <mat-select (selectionChange)="onSelectionChange($event)" placeholder="--"
                                        formControlName="manufacturerId" id="manufacturer" #manufacturer>
                                <mat-option *ngFor="let item of manufacturers"
                                            [attr.data-tlp]="item.tlp"
                                            [attr.data-ttl]="item.ttl"
                                            [attr.data-isFeatured]="item.isFeatured"
                                            [value]="item">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span class="col-3" style="display:inline-block;">
                            <a href="/manufacturers">new</a>
                        </span>
                        <span class="col-3 text-right">
                            <button mat-raised-button type="submit" color="primary" (click)="addWItem()">Add Another Group</button>
                            <button mat-raised-button type="button" color="primary" (click)="deleteWItem(i)">Delete Group</button>
                        </span>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <span class="col-4 text-center" style="display:inline-block; font-weight: 550;">Qty</span>
                        <span class="col-4 text-center" style="display: inline-block; font-weight: 550;">Product</span>
                        <span class="col-4 text-center" style="display: inline-block; font-weight: 550;">List$</span>
                        <span class="col-4 text-center" style="display: inline-block; font-weight: 550;">Net$</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div formArrayName="worksheetItems">
                        <div *ngFor="let lineItem of getLineItems(i).controls; let j = index" [formGroupName]="j" class="line-item">
                            <mat-form-field [appearance]="'fill'" class="form-field-style col-4 quantity">
                                <input type="hidden" formControlName="wiId" id="wiId">
                                <input matInput formControlName="quantity" placeholder="Quantity" id="quantity"
                                       (change)="detectChange(i,$event)">
                            </mat-form-field>
                            <mat-form-field [appearance]="'fill'" class="form-field-style col-4 product">
                                <mat-select placeholder="Product" formControlName="productId">
                                    <mat-option *ngFor="let item of products" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field [appearance]="'fill'" class="form-field-style col-4 list-price">
                                <input matInput formControlName="listPrice" placeholder="List Price" id="listPrice"
                                       (change)="detectChange(i,$event)">
                            </mat-form-field>
                            <mat-form-field [appearance]="'fill'" class="form-field-style net" style="width:17%;">
                                <input matInput formControlName="net" placeholder="Net" id="net"
                                       (change)="detectChange(i,$event)">
                            </mat-form-field>
                            <button mat-icon-button style="margin:0px;" color="primary" aria-label="Add Item" (click)="addLineItem(i)">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button style="margin:0px;" color="cancel" aria-label="Delete Item" (click)="removeLineItem(i, j)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <span class="col-4" style="display:inline-block;"></span>
                        <span class="form-field-style col-4 text-right" style="display:inline-block;">
                            <label>Total</label>
                        </span>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-4 list_total">
                            <input matInput class="list_total" formControlName="totalList" readonly placeholder="0.00" id="totalList">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-4 net_total">
                            <input matInput class="net_total" formControlName="totalNet" readonly placeholder="0.00" id="totalNet">
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <span style="display:inline-block;" class="col-8 text-center"></span>
                        <span style="display:inline-block;" class="col-8 text-center"></span>
                        <span style="display: inline-block; font-weight: 550;" class="col-8 text-center">MULT</span>
                        <span style="display:inline-block;width:8%;margin:5px;"></span>
                        <span style="display: inline-block; font-weight: 550;" class="col-8 text-center">=</span>
                        <span style="display: inline-block; font-weight: 550;" class="col-8 text-center">NET$</span>
                        <span style="display:inline-block; font-weight: 550;" class="col-8 text-center">FRT$</span>
                        <span style="display:inline-block; font-weight: 550;" class="col-8 text-center">TTL$</span>
                        <span style="display:inline-block; font-weight: 550;" class="col-8 text-center">Quote Amount</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <label class="text-left col-8" style="display:inline-block">TLP</label>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 total">
                            <input matInput class="total" formControlName="total" readonly placeholder="0.00" id="total">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style tlpMultiplier" style="width: 10%; margin: 5px;">
                            <mat-select placeholder="--" formControlName="tlpMultiplier" class="tlpMultiplier" id="tlpMultiplier"
                                        (change)="detectChange(i,$event)">
                                <ng-container *ngFor="let i of range(1, 99)">
                                    <mat-option [value]="i / 100">{{ (i / 100).toFixed(2) }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-checkbox style="width:8%;margin:5px;" class="override_multiplier" id="override_multiplier"
                                      (change)="detectCheckboxChange(i,$event)">Override</mat-checkbox>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 subtotal">
                            <input matInput formControlName="subtotal" class="subtotal" readonly placeholder="0.00" id="subtotal">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 grand_net">
                            <input matInput formControlName="grand_net" class="grand_net" readonly placeholder="0.00" id="grand_net">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 freight">
                            <input matInput formControlName="frieght" readonly class="freight" placeholder="0.00" id="freight"
                                   (change)="detectChange(i,$event)">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 grand">
                            <input matInput formControlName="grand" readonly class="grand" placeholder="0.00" id="grand">
                        </mat-form-field>
                        <mat-form-field [appearance]="'fill'" class="form-field-style col-8 quote_amount">
                            <input matInput formControlName="quoteAmount" class="quote_amount" readonly placeholder="0.00" id="quoteAmount">
                            <input type="hidden" formControlName="userQuoteAmount" class="user_quote_amount" readonly placeholder="0.00" id="userQuoteAmount">
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div formArrayName="pdnis">
                        <div *ngFor="let pdni of getWPDNI(i).controls; let j = index" [formGroupName]="j" class="pdni-row">
                            <span style="display:inline-block;" class="form-field-style col-8 text-left"><label>PDNI</label></span>
                            <mat-form-field [appearance]="'fill'" class="form-field-style" style="width:75%; margin-left:5px;">
                                <mat-select placeholder="--" formControlName="pdniId" class="pdni">
                                    @if(pdnis && pdnis.length > 0) {
                                    @for (item of pdnis; track item) {
                                    <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
                                    }
                                    }
                                </mat-select>
                            </mat-form-field>
                            <span style="display:inline-block" class="form-field-style col-9">
                                <button mat-icon-button color="primary" class="add-pdni" aria-label="Add Item" style="margin:0px;" (click)="addPItem(i)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="cancel" class="remove-pdni" aria-label="Delete Item" style="margin:0px;" (click)="deletePItem(i,j)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span style="display:inline-block;" class="form-field-style col-8 text-left">
                            <label>Comments</label>
                        </span>
                        <mat-form-field [appearance]="'fill'" class="form-field-style" style="width:80%; margin-left:5px;">
                            <textarea matInput formControlName="comments" placeholder="" id="comments"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <span style="display:inline-block;" class="form-field-style col-8 text-left">
                            <label>Special Notes</label>
                        </span>
                        <mat-form-field [appearance]="'fill'" class="form-field-style" style="width:80%; margin-left:5px;">
                            <textarea matInput formControlName="specialNotes" placeholder="" id="specialNotes"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>

<div style="margin: 25px;">
</div>

<form [formGroup]="notesFrm">
    <mat-card>
        <mat-card-content>
            <div formArrayName="workbookNotes">
                <div class="form-field-style col-1 text-left"><label>Add Notes</label></div>
                <span *ngFor="let note of workbookNotes.controls; let i = index" [formGroupName]="i" class="worksheet-container">
                    <mat-form-field [appearance]="'fill'" class="form-field-style col-2">
                        <mat-select placeholder="--" formControlName="noteId">

                            <mat-option *ngFor="let item of notes" [value]="item.value">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="form-field-style col-1">
                        <button mat-icon-button color="primary" aria-label="Add Item" (click)="addNItem()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button color="cancel" aria-label="Delete Item" (click)="deleteNItem(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<div>
    <button mat-raised-button color="primary" (click)="saveWorksheet()">Save Worksheet</button>
</div>
