<form [formGroup]="myform" (ngSubmit)="addOrUpdate()">
  <h1>Theme Settings</h1>
    <mat-form-field [appearance]="'fill'" class="col-3">
      <mat-label for="themE_Current">Current Theme</mat-label>
      <input matInput formControlName="themE_Current" placeholder="Current Theme" id="themE_Current">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-3">
      <mat-label>Invoice Template</mat-label>
      <input matInput formControlName="themE_InvoiceTemp" id="themE_InvoiceTemp" placeholder="Invoice Template">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'fill'" class="col-3">
      <mat-label for="themE_QuotePaperSize">Quote Paper Size</mat-label>
      <input matInput formControlName="themE_QuotePaperSize" placeholder="Quote Paper Size" id="themE_QuotePaperSize">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  <div>
    <button mat-raised-button color="primary">Update</button>
  </div>
</form>
