<form [formGroup]="myform" (ngSubmit)="addOrUpdate()">
  <h1 mat-dialog-title>{{inputData.header}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Manufacturer Name</mat-label>
      <input formControlName="name" matInput />
      <input formControlName="id" matInput hidden="hidden" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>TLP Multiplier</mat-label>
      <input formControlName="tlp" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>TTL Multiplier</mat-label>
      <input formControlName="ttl" matInput />
    </mat-form-field>
    <mat-checkbox type="checkbox" formControlName="isFeatured"></mat-checkbox>
    <mat-label>Is Featured?</mat-label>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button (click)="closePopup(); $event.preventDefault();" mat-raised-button color="warn">Close</button>
  </div>
</form>
