<form [formGroup]="myform" (ngSubmit)="addOrUpdate()">
  <h1>UPS API Settings</h1>
  <div>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_Takeoff">Takeoff</mat-label>
      <input matInput formControlName="prefix_Takeoff" placeholder="Takeoff" id="prefix_Takeoff">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-style col-3">
      <mat-label>Quote</mat-label>
      <input matInput formControlName="prefix_Quote" id="prefix_Quote" placeholder="Quote">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_Job">Job</mat-label>
      <input matInput formControlName="prefix_Job" placeholder="Job" id="prefix_Job">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_AW">AW</mat-label>
      <input matInput formControlName="prefix_AW" placeholder="AW" id="prefix_AW">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-style col-3">
      <mat-label>AWF</mat-label>
      <input matInput formControlName="prefix_AWF" id="prefix_AWF" placeholder="AWF">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_SBC">SBC</mat-label>
      <input matInput formControlName="prefix_SBC" placeholder="SBC" id="prefix_SBC">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_SPL">SPL</mat-label>
      <input matInput formControlName="prefix_SPL" placeholder="SPL" id="prefix_SPL">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-style col-3">
      <mat-label>J</mat-label>
      <input matInput formControlName="prefix_J" id="prefix_J" placeholder="J">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'fill'" class="form-field-style col-3">
      <mat-label for="prefix_Q">Q</mat-label>
      <input matInput formControlName="prefix_Q" placeholder="Q" id="prefix_Q">
      <mat-icon matSuffix>sentiment_very_Satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Update</button>
  </div>
</form>
