/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.column-container {
  display: flex;
  flex-direction: column; /* This makes the children align in a column */
  gap: 10px; /* Optional: Adds space between the divs */
}

.column-item {
  background-color: #f0f0f0; /* Example background color */
  padding: 20px;
  border: 1px solid #ccc; /* Example border */
}

button {
  margin: 10px;
}

.col-1 {
  width: 99%;
  margin: 5px;
}

.col-2 {
  width: 48%;
  margin: 5px;
}

.col-3 {
  width: 32%;
  margin: 5px;
}

.col-4 {
  width: 24%;
  margin: 5px;
}

.main-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
}
.toolbar-left {
  display: flex; /* Use flexbox for easy alignment */
  align-items: center; /* Vertically align items */
}

.toolbar-logo {
  height: 40px; /* Adjust as needed */
  margin-left: 16px; /* Space between menu and logo */
}

