<form [formGroup]="myform" (ngSubmit)="addOrUpdate()">
  <h1 mat-dialog-title>{{inputData.header}}</h1>
  <div mat-dialog-content>
    <mat-form-field [appearance]="'fill'">
      <mat-label for="firstName">First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="First Name" id="firstName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" id="lastName" placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'fill'">
      <mat-label for="email">Email</mat-label>
      <input matInput placeholder="Email" id="email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="phone">Phone</mat-label>
      <input matInput placeholder="Phone" id="phone" formControlName="phone">
      <mat-icon matSuffix>contact</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contractor</mat-label>
      <mat-select formControlName="contractorId">
        @if(contractors.length > 0) {
        @for (item of contractors; track item) {
        <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
        }
        }
        @else {

        <mat-option [value]="-1">-- Select Contractors --</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button (click)="closePopup(); $event.preventDefault();" mat-raised-button color="warn">Close</button>
  </div>
</form>
