
<div class='demo-app'>

  <div class='demo-app-main'>
    <span mat-title>Dashboard</span>
    <div class="search-container">
      <button mat-raised-button color="primary" (click)="addTakeoff()">Add Takeoff</button>

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchTerm" (input)="getTakeoffs()" placeholder="Search...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
    <div *ngIf="popupVisible" [style.top.px]="popupTop" [innerHTML]="safePopupContent"
         [style.left.px]="popupLeft" class="event-popup">

    </div>
  </div>

</div>
